@font-face {
    font-family: Faber;
    src: url('../font/FaberSansPro-Normal.ttf');
}
@font-face {
    font-family: Directo;
    src: url('../font/DirectoBold.ttf');
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background-color:#F5F4FF;
    ;
}

.MainPage {
    padding: 20px;
}

.main_text_block {
    text-align: center; 
}

.main_title {
    font-size: 36px;
    font-family: Directo;
}

.main_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.block {
    flex: 1 1 auto;
    text-align: center;
}

.block img {
    max-width: 100%;
}

.main_text {
    font-family: Faber;
    font-weight: 400;
    font-size: 18px;
    white-space: pre-wrap;
}

.SecondPage_title{
    font-family: Faber;
}

.group_main {
    display: flex;
    justify-content: center;
}

.group {
    display: flex;
    align-items: center;
}

.group img {
    margin-right: 5px;
    filter:contrast(50%);
}

.SecondPage {
    display: flex;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}